@font-face {
    font-family:'Lato Black' ;
    src: url('../fonts/Lato-Black.ttf');
}
@font-face {
   font-family:'Lato Regular';
   src: url('../fonts/Lato-Regular.ttf');
}
@font-face {
    font-family:'Lato Bold';
    src: url('../fonts/Lato-Bold.ttf');
}
@font-face {
    font-family:'SortsMillGoudy Regular';
    src: url('../fonts/SortsMillGoudy-Regular.ttf');
}
@font-face {
    font-family:'SortsMillGoudy Italic';
    src: url('../fonts/SortsMillGoudy-Italic.ttf');
}
