
$logo-z-color: #7bb9b3;
$navbar-backcolor: #2d2d30;
$navbar-text-color: #d5d5d5;
$headings-color: #454545;
$subheadings-color: #878686;
$text-color: #8a8a8a ;
$services-backcolor: #f7f7f7;
$products-backcolor: #f1f1f1;
$darkbutton-backcolor: #2d2d30;
$lightbutton-backcolor: #82c6bf;
$portfolio-backcolor:#2d2d30;
$portfolio-text-color: #a4a4a4;
$portfolio-heading-color: #dadada;
$blog-backcolor: #d1d1d1;
$customer-text-color: #878686;
$footer-text-color: #e8e8e8;

